/* 
===================== 
Extra Defined classes 
=====================
*/

/* classes for task indent level */

/* Colors for levels */
.task-l0{
  color : #00c6cc;
}

.task-l1{
  color : #212121;
}

.task-l2{
  color : #767676;
}

.task-l3{
  color : #e0e0e0;
}

.task-l0,.task-l1,.task-l2,.task-l3{
  font-weight: 700;
}
::placeholder{
  color : #bdbdbd;
}

/* To remove outline */
.btn:focus {
  outline: none;
  box-shadow: none;
}

/* Utility button styles */
.btn-task,.text-inst{
  color: #bdbdbd;
}
.btn-task:hover{
  color: #00c6cc;
  font-weight: 700;
}

/* row styles for each one */


/* Add task button styles */
.btn-addTask{
    color: #fff;
    background-color: #337ab7;
    border-color: #2c70ac;
}

.btn-addTask:hover{
    color: #fff;
    background-color: #337ab7;
    border-color: #2c70ac;
}

/* input */
input:focus{
  outline: none;
}