/* 
===================== 
Extra Defined classes 
=====================
*/

/* classes for task indent level */

/* Colors for levels */
.task-l0{
  color : rgb(47, 255, 220);
}

.task-l1{
  color : rgb(105, 90, 90);
}

.task-l2{
  color : rgba(105, 87, 87, 0.5);
}

/* padding for levels */
#bootstrapOverride .task-p0{
  padding-left: 0 !important;
}
#bootstrapOverride .task-p1{
  padding-left: 1.5 rem !important;
}
.task-p2{
  padding-left: 3 rem !important;
}


.btn-task{
  color: #00000060;
}

