.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* 
===================== 
Extra Defined classes 
=====================
*/

/* classes for task indent level */

/* Colors for levels */
.task-l0{
  color : rgb(47, 255, 220);
}

.task-l1{
  color : rgb(105, 90, 90);
}

.task-l2{
  color : rgba(105, 87, 87, 0.5);
}

/* padding for levels */
.task-p0{
  padding-left: 0;
}
.task-p1{
  padding-left: 1.5 rem;
}
.task-p2{
  padding-left: 3 rem;
}


.btn-task{
  color: #00000060;
}

